torch==2.4.0
torchvision==0.19.0
torchaudio==2.4.0
scikit-image
meshcat
webdataset
omegaconf
opencv-contrib-python
openpyxl
wandb
GPUtil
imgaug
Ninja
xlsxwriter
timm
albumentations
xatlas
rtree
nodejs
jupyterlab
objaverse
g4f
ultralytics==8.0.120
pycocotools
py-spy
videoio
accelerate
scipy
joblib
scikit-learn
ruamel.yaml
trimesh
pyyaml
imageio
open3d
transformations
warp-lang
einops
pyrender
pysdf
bitsandbytes
torch_tb_profiler
pytorch_memlab
yattag
git+https://github.com/lilohuang/PyTurboJPEG.git
mmcv-lite
mmdet==2.22.0
instaboostfast
flash-attn
h5py